[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
autohooks = "*"
autohooks-plugin-black = "*"
requests-mock = "*"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
marshmallow = "*"
gunicorn = "*"
alembic = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-admin = "*"
flask-basicauth = "*"

[requires]
python_version = "3.9"

[scripts]
local = "bash scripts/run_local.sh"
tests = "bash scripts/run_tests.sh"

[pipenv]
allow_prereleases = true
